<?xml version="1.0" encoding="utf-8"?> 
<robot name="FINES"> 
  <link name="base_link"> 
    <inertial> 
      <origin xyz="0 0 0" rpy="0 0 0" /> 
    </inertial>
  </link> 
 
  <link name="base_lidar"> 
    <inertial> 
      <origin xyz="0 0 0" rpy="0 0 0" /> 
    </inertial>
  </link> 
 
 <!--
   <joint name="base_lidar" type="fixed"> 
    <origin xyz="0.08521 0.0 0.0333" rpy="0 0.698132 -1.047198" />
    <parent link="base_link" /> 
    <child link="base_lidar" /> 
    <axis xyz="0 0 0" /> 
  </joint> 
  /!-->

  <joint name="base_lidar" type="fixed">
    <origin
      xyz="0.08521 0.0 0.0333"
      rpy="0.0 0.698 0.0" />
    <parent link="base_link" />
    <child link="base_lidar" />
    <axis xyz="0 0 0" />
  </joint>

 
</robot>
